In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
reupado = pd.read_csv('/content/mediaporcidade.csv', index_col=0)
reupado
#foi carregado um arquivo feito por mim mesmo

,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,1100015.0,Alta Floresta D'Oeste,11.0,RO,466.561538,535.764286,474.400000,489.723077,425.714286
1,1100023.0,Ariquemes,11.0,RO,483.554455,545.538182,518.431818,503.466337,481.818182
2,1100031.0,Cabixi,11.0,RO,402.175000,501.525000,483.475000,450.425000,400.000000
3,1100049.0,Cacoal,11.0,RO,500.793893,567.247015,519.308209,537.145038,530.149254
4,1100056.0,Cerejeiras,11.0,RO,478.544444,545.889474,500.494737,491.238889,426.315789
...,...,...,...,...,...,...,...,...,...
5300,5222005.0,Vianópolis,52.0,GO,481.357692,539.680769,492.523077,502.307692,489.230769
5301,5222054.0,Vicentinópolis,52.0,GO,430.616667,478.983333,438.983333,456.966667,276.666667
5302,5222203.0,Vila Boa,52.0,GO,491.533333,509.466667,462.733333,463.000000,453.333333
5303,5222302.0,Vila Propício,52.0,GO,467.540000,526.800000,507.920000,490.060000,384.000000
5304,5300108.0,Brasília,53.0,DF,511.703049,584.035498,549.619784,553.216421,557.765113

In [27]:
#merge é util para juntar dois dts a partir de colunas de ambos os lados com o mesmo id, por exemplo.
#nao foi possivel efetuar o download do idhm do atlas desenvolvimento.